/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fahkwang&family=Farro&family=Lora&family=Montserrat&family=Open+Sans&display=swap');

/*setting the wesite's margin to 0*/
*{
    margin: 0vh;
}

/*designing the marginbox at the tope of the screen*/
#marginbox{
    background-color: #808080;
    height: 2.5vh;
    width: auto;
}

/*designing the navigation bar*/
#navbar{
    background-color: #808080;
    height: 6.5vh;
    width: auto;
    padding: 1vh;
}

/*designing the image used for logo*/
#brandlogo img{
    width: 6vh;
    height: 6vh;
    margin-left: 2vh;
}

/*designing the brandname used for logo*/
#brandname{
    font-family: 'Fahkwang', sans-serif;
    color: rgb(255, 240, 240);
    text-transform: uppercase;
    position: absolute;
    left: 10vh;
    top: 5vh;
    font-size: 1.25vw;
}

/*designing the pagelinks as a whole to set its position on the webpage*/
#linksgroup{
    position: absolute;
    left: 30vw;
    top: 5vh;
    width: 69vw;
    height: 6vh;
    border-radius: 20 pw;
}

/*setting the font for the pagelinks*/
.links{
    display: inline;
    font-family: 'Farro', sans-serif;
    transition: .4s;
    opacity: 0.8;
    color: black;
}

/*designing the links when the mouse hovers on it*/
.links:hover{
    transition: .4s;
    opacity: 1;
}

/*removing the underline and setting the general font-size*/
.links a{
    text-align: right;
    float: right;
    margin-top: 5px;
    margin-left: .5vw;
    margin-right: .5vw;
    text-decoration: none;
   
}

/*desiging the links except the contribute at the center of the navbar*/
#home, #conclusion, #references, #data, #aboutme{
    background-color: gray;
    text-transform: uppercase;
    padding: 0.75vw;
}

/*setting the color of the text of the pagelinks*/
#home a, #conclusion a, #references a, #data a, #aboutme a{
    color: white;
}

/*designing the footer (its position and color)*/
#footer{
    background-color: #808080;
    padding: 1vh;
    position: fixed;
    bottom: 0%;
    right: 0%;
    height: 5vh;
    width: 100%;
}

/*positioning the socials at the lower-right corner of the page*/
.socials img{
    width: 4vh;
    margin-right: 1vh;
    opacity: .7;
}

/*designing the link for my github profile*/
#github{
    position: fixed;
    bottom: 1.25vh;
    right: 2vh;

}

/*designing the link for my instagram profile*/
#ig{
    position: fixed;
    bottom: 1.25vh;
    right: 7vh;
}

/*designing the link for my twitter profile*/
#twt{
    position: fixed;
    bottom: 1.25vh;
    right: 12vh;
}

/*designing the link for my facebook profile*/
#fb{
    position: fixed;
    bottom: 1.25vh;    
    right: 17vh;
}

/*setting up the copyright if my website*/
#copyright p{
    font-size: 1vw;
    position: fixed;
    bottom: 2vh;
    left: 3vh;
    font-weight: bold;
    font-family: 'Lora', serif;
}

/*setting up the overall content box i will use for my home page and background page*/
.contentbox{
    background-color: #ffffff;
    width: 100%;
    height: 85vh;
}

/*adjusting the size and fit of all the images I will use for my webpages*/
.contentbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*setting up the header for all my webpages except the homepage*/
h1{
    font-size: 2vw;
    font-family: 'Archivo Black', sans-serif;
    color: black;
    margin-bottom: 1vw;
}

/*setting up the div i used for the text portion of my home page*/
.bannertext{
    width: 45%;
    height: 75vh;
    padding: 3vw;
}

/*setting up the header of my home page*/
.bannertext h1{
    font-size: 3.5vw;
    font-family: 'Young Serif', serif;
    color: black;
}

/*setting up the button or link of my home page for the next page*/
.bannertext a{
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: maroon;
    padding: 2vh;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
    font-weight: bold;
    font-size: 1vw;
    transition: .4s;
}



#coverimage {
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 11vh;
    left: 50.5vw;
}


/*setting up the content box where i will put all my intro text in my Conclusion page*/
.intro {
    height: 67vh;
    padding: 1.5vw 3vw 3vw 3vw;
}

/*setting up the font style, color, and size for my discussion text in Conclusion page*/
.intro p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25vw;
    color: rgb(0, 0, 0);
    margin-bottom: 1vw;
    text-align: left;
}
.variables {
  text-align: right;
}



/*desiging the box for the image i will use in the left portion of my references page*/
#imagedesign1{
    width: 10%;
    height: 82vh;
    position: absolute;
    top: 11vh;
    left: 0vw;
}

/*desiging the box for the image i will use in the right portion of my references page*/
#imagedesign2{
    width: 10%;
    height: 82vh;
    position: absolute;
    top: 11vh;
    right: 0vw;
}

/*designing the content box i will use for my sources page*/
.sources {
    position: absolute;
    left: 10vw;
    width: 73.5vw;
    height: 77vh;
    padding: 1.5vw 3vw 3vw 3vw;
}




/*designing the font style size, and color of my reference list*/
.sources ol{
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    color: rgb(0, 0, 0);
}

/*putting a bottom margin to each item on my reference list to see them clearly*/
.sources li{
    margin-bottom: 1vw;
}

/*setting the attached links to remove underline and make it color white*/
.sources a, .sources p{
    color: white;
}

/*setting the table of content portion in my data discussion page*/
#tableofcontents {
    border: 0.25vh solid rgb(126, 123, 123);
    background-color: rgb(126, 123, 123);
    width: 14.5%;
    height: 82vh;
    padding: 2vh;
}

/*setting the title of my table of content portion in my data discussion page*/
#tableofcontents h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.25vw;
    margin-top: 1vh;
}

/*setting the section links of my table of content portion in my data discussion page*/
#sectionlinks a{
    display: block;
    margin: 3vh 2vh 2vh 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}

/*grouping minor sections and highlighting their relation by removing spaces between them */
#sectionlinks .students,  #sectionlinks .faculty, #sectionlinks .ratio{
    margin: 0vh 0vh 1vh 4vw;
}


